<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Contactos</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

	

	<header class="container-header">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" href="#"> Control de estudiantes </a>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/}">
						Control de estudiantes
					</a></li>
				</ul>
			</div>
		</nav>
		
		
	</header>

	<main class="container">
		
		<div class="row">
			<h1 class="titulo center">Lista de Contactos</h1>
		</div>
		<div class="row">
			<div clas="col-log-3 btnagregar" >
				<a th:href="@{/nuevo}" class="btn btn-primary btn-sn mb3">Añadir Contacto</a>
			</div>
			
		</div>
		<br>
		<div th:if="${msgExito != null}">
			<h6>[[${msgExito}]]</h6> 
		</div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Celular</th>
						<th>Eamil</th>
						<th>F.Nacimineto</th>
						<th>F.Registro</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contacto : ${contactos}">
						<td th:text="${contacto.id}"></td>
						<td th:text="${contacto.nombre}"></td>
						<td th:text="${contacto.celular}"></td>
						<td th:text="${contacto.email}"></td>
						<td th:text="${contacto.fechaNacimiento}"></td>
						<td th:text="${contacto.fechaRegistro}"></td>
						
						
					</tr>
				</tbody>
			</table>


	</main>
	<footer class="conteiner-Footer">

	</footer>
</body>

</html>