<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${contacto.id ne null ? 'Editar Contacto' : 'Registro de Contacto'}"></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>


	<header class="container-header">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" href="#"> Control de Contactos </a>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/}">
						Control de Contactos
					</a></li>
				</ul>
			</div>
		</nav>
		
		<br> 
	</header>

	<main class="container">
		
			<div class="row Justify-content-center">
			<div class="col-md-6 col-sm-6 container justify-content-center card">
			</br>
				<h2 class="text-center" th:text="${contacto.id ne null ? 'Editar Contacto' : 'Registro de Contacto'}"></h2> 

				<div class="card-body">
					<form   method="post" th:object="${contacto}">
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input id="nombre" type="text" placeholder="Digite su nombre"  th:field="*{nombre}" class="form-control" th:errorClass="is-invalid">
							
							<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="invalid-feedback"></div>
						</div>
						
						<div class="form-group">
							<label for="celular">celular</label>
							<input id="celular" type="text" placeholder="Digite su celular"  th:field="*{celular}" class="form-control" th:errorClass="is-invalid">
							<div th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}" class="invalid-feedback"></div>
						</div>
					
						<div class="form-group">
							<label for="email">email</label>
							<input id="email" type="email" placeholder="Digite su email"  th:field="*{email}" class="form-control" th:errorClass="is-invalid">
							<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
						</div>
						
						<div class="form-group">
							<label for="fechaNacimiento" >Fecha nacimiento : : </label>
							<input id="email" type="date" th:field="*{fechaNacimiento}" class="form-control" th:errorClass="is-invalid">
							<div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="invalid-feedback"></div>
						</div>
						<div class="text-end">
							<button class="btn btn-success">Guardar</button>
							<a href="/" class="btn btn-light ms-2">Cancelar</a>
						</div>
						
					</form>
				</div>
			</div>
		</div>


	</main>
	<footer class="conteiner-Footer">

	</footer>
</body>

</html>